* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(3, 3, 68);
}

 header {
    background-color: rgb(49, 9, 87);
    color: whitesmoke;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 30px;
    height: 100px;
}

.rightSection ul li {
    list-style: none;
    display: inline;
    margin: 0 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}



ul li a {
    color: rgb(124, 16, 224);
}

ul li a:hover {
    color: cadetblue;
}


.first-sec {
    font-size: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px 15px;
    color: white;
}


.image img{
    margin: 50px 0;
    width: 88%;
    height: 390px;
    border: 2px transparent;
    border-radius: 120px;
}

hr {
    border: 0px;
    background-color: rgb(80, 66, 49);
    height: 1px;
    width: 95vw;
    margin: 14px 20px;
}
.about {
    color: beige;
}
.about h1{
    color: rgb(23, 212, 133);
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 20px 20px;
}
.about p{
    margin: 40px;
    font-size: 1.5rem;
}

.text-gray{
    color: gray;
    font-size: 2rem;
    margin: 40px 55px;
}

.second-sec{
    height: 60vh;
}

.second-sec .box{
    margin: 80px 55px;
    height: 2px;
    width: 90vw;
    display: flex;
    background-color: rgb(111, 89, 139);
}
.second-sec .vertical{
    height: 100px;
    background-color: rgb(100, 69, 37);
    width: 2px;
    margin: 0 150px;
}
.vertical-title{
    position: relative;
    top: 99px;
    width: 150px;
    color: white;
    left: -33px;
    font-size: 1.4rem;
}
.vertical-desc{
    position: relative;
    top: 110px;
    width: 150px;
    color: white;
    left: -33px;
    font-size: 0.78rem;

}
footer {
    height: 50px;
    background-color: rgb(6, 30, 66);
    color: gray;
    text-align: center;
    padding: 20px 0px;
}